## General
DOMAIN=https://vaultwarden.hughboi.cc  # No quotes - needed for YubiKey OAuth
ADMIN_TOKEN=                           # After vaultwarden container starts run "/vaultwarden hash" and paste contents here


## SMTP
SMTP_HOST=smtp.fastmail.com
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_FROM=                             # My email with smtp sending capabilities
SMTP_USERNAME=                         # My email with smtp sending capabilities
SMTP_PASSWORD=                         # App password from fastmail
SMTP_FROM_NAME=Vaultwarden


## OIDC
OIDC_ENABLED=true
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_ISSUER=https://pocket.hughboi.cc
OIDC_REDIRECT_URI=https://vaultwarden.hughboi.cc/identity/connect/oidc-signin
