UNIFI_TAG=10.0.162

#unifi-poller
POLLER_TAG=latest
POLLER_DEBUG=false
POLLER_SAVE_DPI=false
UP_POLLER_DEBUG=false
UNIFI_USER=unifi-poller
UNIFI_PASS=
UNIFI_URL=https://unifi_controller:8443 #https://10.10.10.10:8443
UP_UNIFI_CONTROLLER_0_INSECURE=true
