# See the documentation for more information: https://pocket-id.org/docs/configuration/environment-variables
APP_URL=https://pocket.hughboi.cc
TRUST_PROXY=true # needed for Traefik
#MAXMIND_LICENSE_KEY=
PUID=1000
PGID=1000

# recovery token
SETUP_TOKEN=