UPLOAD_LOCATION=/mnt/truenas/eros #immich-upload
#DB_DATA_LOCATION=
TZ=America/Denver
IMMICH_VERSION=release

DB_PASSWORD=

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich


### ML
# IMMICH_DISABLE_ML=true
