WAZUH_TAG=4.12.0

INDEXER_USERNAME=admin
INDEXER_PASSWORD=           # dashboard password

API_USERNAME=wazuh-wui
API_PASSWORD=               # Random password - 8 characters, Upper, Lower, Special. Else will get API error

DASHBOARD_USERNAME=kibanaserver
DASHBOARD_PASSWORD=         # Random password - This Is NOT Dashboard Password!!!